*{
    box-sizing: border-box;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
header{
    background: url(/img/LogoEdit.png) space;
    background-position: left;
    padding: 50px;
    background-color: orangered;
    text-align: center;
    
}
.subtitulosredes{
    color: red;
    font-size: 15px;
}
.TituloGrande{
    color: black;
    text-align: center;
    font-family: "Bangers", cursive;
    font-size: 60px;
    text-shadow: 5px 3px 8px #785;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-evenly;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
.soporte{
    flex: 100%;
    height: auto;
    width: auto;

}
.row{
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
    display: flex;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
}
.row2{
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
    display: flex;
}

section{

    flex: 20%;
    background-color: purple;
    padding: 20px;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: orangered;
    
}
@media screen and (max-width: 850px){
    nav, .row{
        flex-direction: column;
        
    }
    img{
        width: 250px;
        flex-direction: column;
    }
    section, .product-image, .product, .product p, .product-info, .product-info button{
        text-align: center;
    }
    .imglogo{
        height: 100px;
    }
    header, .TituloGrande{
        background-image: none;

        padding: 0px;
        font-size: 30px;
    }
}
@media screen and (max-width: 320px){
    nav, .row{
        flex-direction: column;
        
    }
    img{
        width: 140px;
        flex-direction: column;
    }
    section, .product-image, .product, .product p, .product-info, .product-info button{
        
    }
    .imglogo{
        height: 100px;
        flex-direction: column; 
    }
    header, .TituloGrande{
        background-image: none;
        padding: 0px;
        font-size: 25px;
    }
}



@media screen and (max-width: 250px){
    nav, .row{
        flex-direction: column;
        
    }
    header{
        font-size: 5px;
        
    }
    footer{
        font-size: 5px;
    }
    img{
        width: 30px;
        flex-direction: column;
    }
    section, .product-image, .product, .product p, .product-info, .product-info button{
        
    }
    .imglogo{
        height: 200px;
    }
  
}






@media screen and (max-width: 900px){

    header{
        background: none;
    padding: 50px;
    background-color: orangered;
    text-align: center;
    }

  
}

@media screen and (max-width: 60px){
    nav, .row{
        flex-direction: column;
        
    }
    header{
        font-size: 1px;
        text-align: left;
    }
    footer{
        font-size: 1px;
    }
    img{
        width: 4px;
        flex-direction: column;
    }
    section, .product-image, .product, .product p, .product-info, .product-info button{
        
    }
    .imglogo{
        height: 30px;
    }
  
}

/*
FORMULARIO RESPONSIVE
*/
/* Style inputs, select elements and textareas */
input[type=text],input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: white;
    text-align: center;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: auto;
    font-size: 20px;
  }
  input[type=reset] {
    background-color: rgb(214, 15, 15);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    color: white;
    margin-left: auto;
    font-size: 20px;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    background-color: purple;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: center;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .col-25, .col-75, input[type=submit],input[type=reset] {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
    }
    
  }
  /*
  FIN FORMULARIO RESPONSIVE
  */
 



.imglogo{
    height: 100px;
}
.psobremi{
    font-size: 30px;
    text-align: justify;
}
.titulosection{
    text-align: center;
    font-size: 50px;
}
.product{
    background: rgb(243, 239, 239);
    max-width: 17rem;
    height: 23rem;
    text-align: center;
    
}

.product p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
}
.imgIMG{
   height: 350px;
}
.imgredes{
height: 100px;
}

.product-image{
    width: 80%;
    height: 60%;
    margin-top: 0.5rem;
    
}

.product-info{
    text-align: center;
    margin: 0.5rem;
    background-color: purple    ;
    color: white;
    
}
.infocenterpro{
    text-align: center;
}

.product-info del{
    font-size: 1rem;
    
}

.product-info button{
    margin-left: 3rem;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    padding-left: 10px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  p{    
    color: white;
    text-align: justify;
    font-size: 20px;
  }
  h3{    
    text-align: center;
    color: white;
  }



  /*
  HEADER COPIADO
  */
  .cizq{
    float:left;
    margin-left:10px;
    clear:left;
 
}
.cder{
    float:right;
    margin-right:10px;
    clear:right;
}
.coche{
    width:150px;
    height:70px;
    padding:40px 0;
}
#titulo{
    font: bold 15px/150px arial;
    text-align: center;
    height:150px;
    width:1046px;
    float:left;
}
.titulosm{
    font-size: 40px;
    color: white;
}
.subsm{
    font-size: 30px;
    color: white; 
}
.lism{
    font-size: 20px;
    color: white; 
    display: flex;
    text-align: center;
    
}

.sbmcenter{
    text-align: center;
}
