*{
    box-sizing: border-box;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
header{
    background: url(/img/LogoEdit.png) space;
    background-position: left;
    padding: 50px;
    background-color: orangered;
    text-align: center;
    
}
.subtitulosredes{
    color: red;
    font-size: 15px;
}
.TituloGrande{
    color: black;
    text-align: center;
    font-family: "Bangers", cursive;
    font-size: 60px;
    text-shadow: 5px 3px 8px #785;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-evenly;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
.soporte{
    flex: 100%;
    height: auto;
    width: auto;

}
.row{
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
}


section{

    flex: 20%;
    background-color: purple;
    padding: 20px;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: orangered;
    
}
@media screen and (max-width: 850px){
    nav, .row{
        flex-direction: column;
        
    }
    img{
        width: 100%;
        
    }
    product-image
    section, .product-image, .product, .product p, .product-info, .product-info button{
        text-align: center;
    }
    .imglogo{
        
        max-width: 100%;
    }
    header, .TituloGrande{
        background-image: none;

        padding: 0px;
        font-size: 30px;
    }
    
}
@media screen and (max-width: 320px){
    nav, .row{
        flex-direction: column;
        
    }
    img{
        width: 100%;
    
    }
    section, .product-image, .product, .product p, .product-info, .product-info button{
        font-size: 1px;
    }
    
    header, .TituloGrande{
        background-image: none;
        padding: 0px;
        font-size: 25px;
    }
}



@media screen and (max-width: 250px){
    nav, .row{
        flex-direction: column;
        
    }
    header{
        font-size: 5px;
        
    }
    footer{
        font-size: 5px;
    }
    img{
        width: 100%;
        flex-direction: column;
    }
 
    
  
}






@media screen and (max-width: 900px){

    header{
        background: none;
    padding: 50px;
    background-color: orangered;
    text-align: center;
    }

  
}

@media screen and (max-width: 60px){
    nav, .row{
        flex-direction: column;
        
    }
    header{
        font-size: 1px;
        text-align: left;
    }
    footer{
        font-size: 1px;
    }
    img{
        width: 4px;
        flex-direction: column;
    }
 
    
  
}

@media screen and (max-width: 580px){
    nav, .row{
        flex-direction: column;
        
    }
    header{
        font-size: 1px;
        text-align: left;
    }
    footer{
        font-size: 1px;
    }
    
    section, .product-image, .product,.product-image{
        width: 100%;
        margin: auto;
        flex-direction: column;
        
    }
    .imglogo{
      
        max-width: 100%;
    }
    .product{
        grid-template-columns: 1fr 1fr 1fr ;
        margin: 0%;
    }
  
}
@media screen and (max-width: 700px){
    .row{
        
        
    }

    .product-image, .product,.product-image, .product-info, .infocenterpro, .psobremi{
        
        
        flex: auto;

    }

  
}



/*
FORMULARIO RESPONSIVE
*/
/* Style inputs, select elements and textareas */
input[type=text],input[type=email],input[type=number], select, textarea{
   max-width: 100%;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    resize: horizontal;
    flex-direction: column;
    
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: black;
    text-align: center;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: auto;
    font-size: 20px;
  }
  input[type=reset] {
    background-color: rgb(214, 15, 15);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    color: white;
    margin-left: auto;
    font-size: 20px;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    background-color: purple;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: center;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .col-25, .col-75, input[type=submit],input[type=reset] {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
      
    }
    
  }

  @media screen and (max-width: 425px) {
   .row{
    font-size: 1px;
   }
    
  }
  /*
  FIN FORMULARIO RESPONSIVE
  */
 



.imglogo{
    height: 500px;
}
.psobremi{
    font-size: 30px;
    text-align: justify;
    color: black;
}
.psobremiC{
    font-size: 30px;
    text-align: center;
}
.titulosection{
    text-align: center;
    font-size: 50px;
}

.product{
    background: rgb(243, 239, 239);
    max-width: 25rem;
    height: auto;
    text-align: center;
    margin-left: 0.5%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: inline;
    margin-top: 0.5%;
    
    
}














.cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}












.product p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
}










.imgIMG{
    width: 100%;
}
.imgredes{
height: 100px;
}

.product-image{
    width: 80%;
    height: 60%;
    margin-top: 0.5rem;
    padding-top: 7%;
    
}

.product-info{
    text-align: center;
    margin: 0.5rem;
    background-color: purple    ;
    color: black;
    
    
}
.infocenterpro{
    text-align: center;
    color: black;
}

.product-info del{
    font-size: 1rem;
    
}

.product-info button{
    margin-left: 3rem;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    padding-left: 10px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */

  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
 



  /*
  HEADER COPIADO
  */
  .cizq{
    float:left;
    margin-left:10px;
    clear:left;
 
}
.cder{
    float:right;
    margin-right:10px;
    clear:right;
}
.coche{
    width:150px;
    height:70px;
    padding:40px 0;
}

#todos{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
}

